<h1>
  ROUND TRACKER
</h1>

<button (click)="nextTurn()">NEXT TURN</button>
<button (click)="sortByInit()">SORT ROUND</button>
<button (click)="reset()">RESET</button>

<h2>ROUND COUNTER</h2>
<h2>{{round.roundCounter}}</h2>

<div>
  <label>NAME</label>
  <input type="text" [(ngModel)]="inputname">

  <label>Init mod</label>
  <input type="number" [(ngModel)]="inputInitMod">
  <label>Init roll</label>
  <input type="number" [(ngModel)]="inputInitRoll">
  <label>Health</label>
  <input type="number" [(ngModel)]="inputHealth">

  <button type="submit" (click) = "sendRoundEntity()">Add entry</button>
</div>

<div *ngIf="round != null">
  <div  *ngFor="let entity of round.roundList">
    <app-round-entity
    [roundEntity] = "entity"
    ></app-round-entity>
  </div>
</div>

